<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do Manage</title>
    <link rel="stylesheet" href="./css/stylesheet.css">
  </head>

  <script type="text/javascript" src="./js/init_page.js"></script>
  <script type="text/javascript" src="./js/add_todo.js"></script>
  <script type="text/javascript" src="./js/delete_todo.js"></script>
  <script type="text/javascript" src="./js/update_todo.js"></script>

  <body onload="InitPage()">
    <header>
      <div class="container">
        <div class="header-left">
        </div>
        <div class="header-right">
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>やりたいことリスト</h1>
        <input type="button" value="＋" onClick="AddToDo()">
        <div class="table-wrapper">
          <!--
            DoCheck：チェックボックス
            TodoText：はやりたいこと
            ToDoDate：達成した日
          -->
          <table name="ToDoList" border="1" ></table>          
        </div>
        <input type="button" onclick="Update_Todo()">
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>